<ion-header>

</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header (click)="collapseCard = !collapseCard">
      <ion-card-title>Nueva Tarea</ion-card-title>
    </ion-card-header>
    <ion-card-content *ngIf="!collapseCard">
      <ion-item>
        <ion-input type="text" placeholder="Tarea" [(ngModel)]="tarea.nombre"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" placeholder="Materia" [(ngModel)]="tarea.cargo"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" placeholder="Descripcion" [(ngModel)]="tarea.descripcion"></ion-input>
      </ion-item>
      <ion-button fill="outline" expand="block" (click)="addTarea()" [disabled]="tarea.nombre == '' || tarea.cargo == '' || tarea.descripcion == '' || tarea.imagen == ''">Crear Tarea</ion-button>
 
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header (click)="collapseCard = !collapseCard">
      <ion-card-title>New Event</ion-card-title>
    </ion-card-header>
    <ion-card-content *ngIf="!collapseCard">
      <ion-item>
        <ion-input type="text" placeholder="Title" [(ngModel)]="event.title"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" placeholder="Description" [(ngModel)]="event.descr"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Start</ion-label>
        <ion-datetime displayFormat="YYYY/MM/DD HH:mm" pickerFormat="MMM D:HH:mm" [(ngModel)]="event.startTime"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>End</ion-label>
        <ion-datetime displayFormat="YYYY/MM/DD HH:mm" pickerFormat="MMM D:HH:mm" [(ngModel)]="event.endTime"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>All Day</ion-label>
        <ion-checkbox [(ngModel)]="event.allDay"></ion-checkbox>
      </ion-item>
      <ion-button fill="outline" expand="block" (click)="addEvent()" [disabled]="event.title == ''">Crear Evento</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
